<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - South West Investment App</title>

    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "your local investing guide",
  "author": {
    "@type": "john",
    "name": "denver"
  },
  "datePublished": "2026-05-08",
  "publisher": {
    "@type": "Organization",
    "name": "Tech Blog",
    "logo": {
      "@type": "ImageObject",
      "url": "https://akshatapp-axfvcpa5f4d2bmgm.canadacentral-01.azurewebsites.net"
    }
  }
}
</script>

</head>
<body>
    <h1>{{ message }}</h1>
    <p>Welcome to your new investment guidance web app.</p>
    <p> balance your investments with multi product strategy to suite your appetite</p>
</body>
</html>

