<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - South West Investment App</title>

    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "your local investing guide",
  "author": {
    "@type": "john",
    "name": "denver"
  },
  "datePublished": "2026-05-08",
  "publisher": {
    "@type": "Organization",
    "name": "Tech Blog",
    "logo": {
      "@type": "ImageObject",
      "url": "https://investments-aeo-app-ehdsbafpfhhtgce2.canadacentral-01.azurewebsites.net/logo.webp"
    }
  }
}
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Article",
  "name": "Speakable content",
  "speakable": {
    "@type": "SpeakableSpecification",
    "cssSelector": [
      "#headline",
      "#summary"
    ]
  },
  "url": "https://investments-aeo-app-ehdsbafpfhhtgce2.canadacentral-01.azurewebsites.net/logo.webp"
    }
</script>
</script>

</head>
<body>
    <h1>{{ message }}</h1>
    <headline>Welcome to your new investment guidance web app.</headline>
    <summary>
        <p> balance your investments with multi product strategy to suite your appetite</p>
        <p> We provide information on bonds, derivatives, mutual funds, trading and more to help you make informed decisions.</p>
    </summary>
    <p> We do not deal with Equities</p>
</body>
</html>

